body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background: black;
}

.container {
  text-align: center;
}

h1 {
    color: white;
    border-color: black;
   margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
  margin: auto;
}

.cell {
  width: 150px;
  height: 150px;
  background: white;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.cell:hover {
  background: #f0f0f0;
}

.winner {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #333;
  color: red;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #555;
}
